.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.95);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-content {
  position: relative;
  max-width: 85%;
  max-height: 85%;
}

.lightbox img {
  width: 100%;
  max-height: 80vh;
  border-radius: 12px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}

/* CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  font-size: 28px;
  background: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* NAV BUTTONS */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 40px;
  background: rgba(255,255,255,0.2);
  border: none;
  color: white;
  width: 50px;
  height: 80px;
  cursor: pointer;
  transition: 0.2s;
}

.nav-btn:hover {
  background: rgba(255,255,255,0.4);
}

.left {
  left: -70px;
}

.right {
  right: -70px;
}